@font-face{
    font-family: 'Aline';
    src: url('../fonts/Posterama\ 2001\ W04\ Light.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* media queries */


  body {
    background-color: #FFF;
    margin: 0 auto;
    font-family: Helvetica;
   
}  
body, html {
    overflow-x: hidden;
}

.contact {
    display: inline-block;
    margin: 0;
}
.inline {
    display: inline-block;

}
.header {
    background-color: 	#fabdbd;
    font-family: "Aline", sans-serif;
    text-align: left;
    padding-left: 10px;
    font-size: 1rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 70px;
    top:0;
    display: flex;
    box-sizing: border-box;
 
}
.header li a{
    text-decoration: none;
    padding-left: .08rem;
    color: black;
    margin-top: 50px;
    padding-top: 10px;
}

.menu{
    display: flex;
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    margin-top: 15px;
    padding: 0;
  }
.menu li{
    padding: 10px 15px;
}
.menu a{
    text-decoration: none;
    color: black;
}
.dropdown-btn {
    display: none; /* Hide the dropdown button */
  }

.header .logo{
    display: inline-block;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0px;
    padding: auto;
}

.navbar{
    background-color: #fabdbd;
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: "Aline", sans-serif;
    font-style: normal;
    position: relative;
    margin-top: 50px;
    height: 770px;
    max-width: none;
    width: 100%;
    padding: 0px;
    display: flex;
    z-index: inherit;
    background: url(../images/freepik__adjust__96090.png)center center no-repeat;
    background-size: cover;
    
    box-sizing: border-box;
    overflow: hidden;
}
.conteimg img{
    position: absolute;
    right: 0;
    width: 25rem;
    height: auto;
    max-width: 100%;
}
.imagealine img{
    position: relative;
    right: 0;
    top: 30px;
    width: 20rem;
    height: auto;
}
.navbar .textaline{
    font-size: 2.5rem;
    margin-top: 150px;
    padding-left: 32%;
    display: inline-block;
    
}
.navbar h2{
    font-size: 120%;
    padding-left: 0px;
    padding-top: 10px;
    width: 70%;
}
.navbar .logo{
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-top: 10px;
}
li .whatsappp{
    display: inline-block;
    align-items: right;
    padding-left: 100px;
    margin-top: 30px;
}
.whatsappp {

    display: inline-block;
    align-items: right;
    padding-left: 120px;
    margin-top: 25px;
}
.instagram {

    display: inline-block;
    align-items: right;
    padding-left: 20px;
    margin-top: 25px;
}
.whatsapp {

    display: flex;
    align-items: center;
    padding-left: 20px;
}
.texto-link {
    text-decoration: none;
    color: rgb(101, 161, 10)
}
.sobre .imagealinee img{
    right: 0;
    margin-top: 5rem;
    width: 20rem;
    height: auto;
    max-width: none;
    height: 100%;
    display: inline-block;
    transform: translateX(50%);
}
.sobre {
    background-color: #f3a7a7;
    height: 1000px;
    padding-left: 20px;
    padding-bottom: 0px;
    display: flex;
    max-width: none;
}
.sobre h2{
    display: inline-block;
    position: absolute;
    margin-top: 50px;
    margin-left: 0%;
    align-items: center;
    font-family: "Aline", sans-serif;
    width: 100%;
}
.sobre .paraone{
    display: inline-block;
    position: relative;
    margin-top: 130px;
    margin-left: 0px;
    align-items: center;
    font-size: 1.5rem;
    text-align: justify;
    text-indent: 2em;
    line-height: 30px;
    width: 100%;
}
.sobre .paratwo {
    display: inline-block;
    position: static;
    margin-left: 0px;
    align-items: center;
    font-size: 1.5rem;
    text-align: justify;
    text-indent: 2em;
    line-height: 30px;
    width: 100%;

}
.sobre h2, .servicos h2 {
    font-size: 40px;
}
.servicos {
    background-color: #f9b1b1;
    font-family: "Aline", sans-serif;
    margin-top: -40px;
    height: 250px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.servicos h2{
    margin-top: 60px;
    position: absolute;
}
.servicos ul{
    margin-top: 120px;
    position: absolute;
}
.contact {
    background-color: #fabdbd;
    margin-top: 0px;
    width: 100%;
    height: 200px;
    padding-left: -10px;
    padding-bottom: 0px;
}	
.contact h2{
    text-emphasis: 20px;
    font-size: 40px;
    padding-left: 20px;
    font-family: "Aline", sans-serif;
}
.footer {
    background-color: #f18f8f;
    margin-top: -25px;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-bottom: 0px;
}
.footer p{
    padding-top: 20px;
    font-size: 15px;
}

@media only screen and (max-width: 2500px) {
    html {
      font-size: 16px;
    }

    .conteimg img{
        position: absolute;
        right: 0;
        bottom: 100px
  }

}

@media only screen and (max-width: 1300px) {
    html {
      font-size: 14.5px;
    }

    .conteimg img{
        position: absolute;
        right: 0;
        bottom: 70px;

  }


}

@media only screen and (max-width: 1100px) {
    html {
      font-size: 13px;
    }

    .conteimg img{
        position: absolute;
        right: 0;
        bottom: 50px;
  }

}





  @media (max-width: 900px) {
    html {
      font-size: 11.5px;
    }
    .conteimg img{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%)
        
  }

  .menu-container {
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
  }
  .menu {
    display: none; /* Initially hide the menu */
    position: absolute;
    top: 50px; /* Position it below the button */
    left: 0;
    width: 100%;
    background-color: #f3a7a7;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: column; /* Stack items vertically */
  }

  .menu.show {
    display: none; /* Make menu visible */
  }

  .dropdown-btn {
    display:  block; /* Show button for smaller screens */
    background-color: #f3a7a7;
    color: black;
    padding: 10px;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
  }

  .menu li {
    text-align: center;
    padding: 5px;
  }
  .navbar .textaline{
    font-size: 2.5rem;
    margin-top: 150px;
    margin-left: -40px;
}
.instagram {

    display: inline-block;
    padding-left: 10px;
    margin-top: 25px;
}
.whatsappp{

    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
}

  @media only screen and (max-width: 400px) {
    html {
      font-size: 10px;
    }
      .menu-container {
        position: relative;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
      }
    .menu {
        display: none; /* Initially hide the menu */
        position: absolute;
        top: 50px; /* Position it below the button */
        left: 0;
        width: 100%;
        background-color: #f3a7a7;
        list-style-type: none;
        margin: 0;
        padding: 0;
        flex-direction: column; /* Stack items vertically */
      }

    .navbar .textaline{
        font-size: 2.2rem;
        margin-top: 150px;
        margin-left: -60px;
    }
    .conteimg img{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%)
    
  }
  .instagram {

    display: inline-block;
    padding-left: 10px;
    margin-top: 25px;
}
.whatsappp{

    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

  .header li{
    flex-direction: column;
  }
}

  